@font-face {
    font-family: 'crimsonRegular';
    src: url('../assets/fonts/webfontkit-20200613-132810/crimsontext-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/webfontkit-20200613-132810/crimsontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'crimson_textsemibold';
    src: url('../assets/fonts/webfontkit-20200613-132810/crimsontext-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-20200613-132810/crimsontext-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}