@import "variables";
@import "Font-face";

footer {
    width: 100%;
    height: 15rem;
    background-color: $main-nav-color;
    margin-top: 5em;
    display: flex;
    font-family: crimsonRegular, Helvetica, sans-serif;
}

.fab {
    color: black;

    &:hover {
        color: $main-button;
        transition: ease .4s;
        transform: scale(1.5);
    }
}

@media screen and (max-width: 1045px) {
    footer {
        justify-content: center;
        height: 25rem;
        padding: 1.3rem 0;
    }
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .contact__social {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contact__list {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        list-style: none;

        &--link {
            text-decoration: none;
        }

        .fab {
            color: black;
            font-size: 1.4rem;

            &:hover {
                color: $main-button;
            }
        }
    }
    .copyright {
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
    }
    .address {
        text-align: center;
        font-size: 1.2rem;
        width: 60%;
        &__header {
            justify-content: center;
            display: flex;
            margin-bottom: 1rem;
        }
    }
    .contact {
        font-size: 1.2rem;
        &__text a {
            text-decoration: none;
            color: $main-button;
        }
        &__header {
            justify-content: center;
            margin-bottom: 1rem;
            display: flex;
        }
    }
    hr {
        width: 100%;
        border-color: #232323;
        opacity: .3;
    }
}