.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 60rem;
    margin-top: $mg-items;

    &__center {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    &__center-odd {
        align-items: flex-start;
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }

    &__text {
        font-size: $page-content;
        color: $main-font-color;
        font-weight: 400;
        font-family: 'Bodoni Moda', serif;
        width: 70%;
        line-height: 140%;
        letter-spacing: -1%;
        justify-self: center;
    }

    &__img {
        object-fit: cover;
        width: 50%;
        height: 100%;
    }

    &:last-child {
        margin-bottom: $mg-items;
    }
}

.intro__list-page {
    margin-top: 3rem;

    &--even {
        align-self: center;
        margin-top: 3rem;

    }
}

.intro__link i {
    padding-left: 5px;
}

.video__fireplace {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    margin: 0;
    right: 0;
    padding: 0;


    .video-fire {
        right: 0;
        width: 90vw;
        height: 85vh;
        object-fit: fill;
    }
}

.page__img {
    width: 100vw;
    height: 100vh;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .page__img {
        height: 60vh;
    }

    .video__fireplace .video-fire {
        height: 50vh;
        width: 100vw;
    }

    .content {
        flex-direction: column-reverse !important;
        height: auto;
        margin-top: 5rem;

        &:last-child {
            margin-bottom: 5rem;
        }

        &__text,
        .intro__link a {
            width: 100%;
            font-size: $mobile-page-content;
        }


        &__center {
            padding-top: 1rem;
            align-items: center;
        }

        &__img {
            width: 100%;
        }
    }

    .intro__list-page {
        margin-top: 1rem;

        &--even {
            margin-top: 1rem;
        }
    }
}