@import "variables";
@import "navigation";
@import "reset";
@import "mediaQueries";


@media screen and (max-width: 650px) {
    .welcome-section {
        background-position: top;
}

}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 70%;
    margin: 0 auto;
}


.welcome_backgroundImg {
    background: url("../assets/fire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100vw;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;

}

.about_us {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    max-width: 30vw;
    max-height: 50vh;
    min-height: fit-content;
    background-color: rgba($color: #ffffff, $alpha: .7);
    padding: 2rem;

    .welcome__button {
        justify-self: flex-start;
        display: flex;
        margin: 2em 0 0 0;
    }

    .welcome__button-menu {
        padding: .7em;
        border-radius: 3px;
        border: none;
        background-color: green;
        max-width: 100%;
        min-width: 70%;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.2em;
    }
}

welcome__arrowDown {
    display: none;
}

.welcome__title {
    margin: 0 0 30px 0;
}

.section_about {
    background-color: lightgray;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
}

.section_about_content {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
}


@media screen and (max-width: 1045px) {
    .about_us {
        bottom: 3rem;
        max-width: 85vw;
        margin-bottom: 5em;
        align-self: flex-end;
    }

    .image_welcome_side {
        display: none;
    }

    .welcome__arrowDown {
        color: white;
        display: flex;
        width: 100%;
        justify-content: center;
        align-self: flex-end;
        position: absolute;
        bottom: 5px;
    }

    .welcome_backgroundImg {
        height: 100vh;
    }
}

.image_welcome_side {
    background-color: wheat;
    align-self: flex-end;
    margin-right: 15vw;
    width: 35vw;
    height: 70vh;
    transform: translate(0, 27%);
}

.restaurant__title {
    margin-top: 5em;
}


.restaurant__wrapper {
    margin-top: 3rem;
    min-height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.restaurant__content {
    background-color: #eee;
    padding: 2rem;
    line-height: 1.3rem;
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

.restaurant__photos-grid {
    display: grid;
    background-color: #eee;
    grid-gap: .7em;
    padding: 2rem;
}

.photo {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 2em;
    align-items: center;
    background-color: grey;
    box-shadow: $shadow;
    background-image: url(https://www.psy.pl/wp-content/uploads/2006/08/shiba1-e1488886701256.jpg);
    background-size: cover;
    background-position: center;
    min-height: 150px;
}

.photo1 {
    grid-row: 1/3;
    min-height: 250px;

}

.photo2 {
    background-position: top;
    background-size: cover;
}

.photo3 {
    grid-column: 2/3;
    background-position: top;
    background-size: cover;
}

@media screen and (max-width: 1045px) {
    .restaurant__wrapper {
        width: 100vw;
        grid-template-columns: 1fr;
    }

    .photo1 {
        grid-column: 1 / 3;
    }
}

.provide-wrapper {
    margin-top: 7rem;
    background-color: pink;
    width: 100vw;
}

.provide__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 1em;
    width: 90%;

}

.provide__item {
    margin: 1rem 0 1rem 0;
    text-align: center;
    border: 1px solid black;

}

.card-wrapper {
    padding: 2em;

    h3 {
        margin: 2rem 0;
    }

    i {
        color: red
    }
}