@import "var-colors";
@import "navigation";
@import "reset";


body {
    font-family: Arial, Helvetica, sans-serif;
}

$breakpoint-dekstop: 900px;
$breakpoint-tablet: 979px;
$breakpoint-mobile: 500px;

.container {
    width: 70%;
    margin: 0 auto;
}

.welcome-section {
    background-color: lightblue;
    height: 120vh;
    display: flex;
    align-items: center;
    .hello {
        display: flex;
        justify-content: center;
    }
}