header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background: rgba($color: #363946, $alpha: .95);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main__logo {
        a {
            text-transform: uppercase;
            color: white;
            text-decoration: none;
        }
    }

    .navbar_list_items {
        display: flex;
        list-style: none;
        font-size: 1.4em;
        text-align: center;

        .list_item {
            padding: 1.9rem;

            a {
                text-decoration: none;
                color: white;

            }
        }

    }
}

.dsp {
    display: none;
    cursor: pointer;
}

.hamburger {
    justify-content: center;
    flex-direction: column;

    div {
        width: 1.6rem;
        height: 2px;
        background-color: white;
        margin: 4px;
        transition: all .4s ease;
    }
}

@media screen and (max-width: 1045px) {
    .main__logo {
        padding: 10px 0 10px 0;
        margin-right: 10px;
    }

    .hamburger {
        display: block;
        padding: .3rem;
        background-color: rgba($color: #20232c, $alpha: .3);
        border-radius: 5px;
    }

    .navbar_list_items {
        right: 0;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 4rem;
        background-color: #363946;
        width: 100%;
        transform: translate(100%);
        transition: transform .5s ease-in;
    }

    a {
        padding: 14px 16px;
        display: block;
        font-size: 1em;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .link1 {
    transform: rotate(-45deg) translate(-5px, 4px);
}

.toggle .link2 {
    opacity: 0;
}

.toggle .link3 {
    transform: rotate(45deg) translate(-5px, -4px);
}

.toggle {
    &:hover {
        background-color: darkred;
    }
}