header {
    width: 100%;
    position: fixed;
    z-index: 9998;
    background: $main-nav-color;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main__logo {
    a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
    }
}

.navbar_list_items {
    display: flex;
    list-style: none;
    font-size: 1.3em;
    text-align: center;
    overflow: hidden;

    .list_item {
        padding: .8em 2em .7em 2em;
        transition:
            background-position .2s ease-in-out,
            color .2s ease-in-out;

        &:hover {
            background-image: linear-gradient(to top, $main-button, transparent);
        }

        a {
            text-decoration: none;
            color: white;

        }
    }

}


.list_item--active {
    background-image: linear-gradient(to top, $main-button, transparent);
}

.dsp {
    display: none;
    cursor: pointer;
}

.hamburger {
    justify-content: center;
    flex-direction: column;

    div {
        width: 1.6rem;
        height: 2px;
        background-color: white;
        margin: 4px;
        transition: all .4s easy-in;
    }
}

@media screen and (max-width: 1045px) {

    .main__logo {
        padding: 10px 0 10px 0;
        margin-right: 10px;
    }

    .hamburger {
        display: block;
        padding: .2rem;
        border-radius: 5px;
    }

    .navbar_list_items {
        right: 0;
        height: 90vh;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 4.1rem;
        background-color: $main-nav-color;
        width: 100%;
        transform: translate(100%);
        transition: transform .3s ease-in;
    }

    .brand_logo-link {
        padding: 1px 0px;
        display: block;
    }
}

.navHeaderOpacity {
    background-color: $main-nav-color;
    transition: ease-in .5s;
}

.nav-active {
    transform: translateX(0%);
}

.toggle .link1 {
    transform: rotate(-45deg) translate(-5px, 4px);
    transition: all .3s;
}

.toggle .link2 {
    opacity: 0;
    transition: all .3s;

}

.toggle .link3 {
    transform: rotate(45deg) translate(-5px, -4px);
    transition: all .3s;
}